<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间 必须对应接口的全限定名
-->

<mapper namespace="com.example.mapper.RoleMapper">


<!--    <select id="selectRoleAll" resultType="com.example.pojo.Role">-->
<!--        select * from G_DHCD where id in(select qx.naviId from G_JS js,G_JSQX qx where js.id=qx.roleId);-->
<!--    </select>-->
</mapper>