<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间 必须对应接口的全限定名
-->

<mapper namespace="com.example.mapper.CheckProcessMapper">

    <insert id="addCheckProcess">
        insert into check_progress
        values (null,#{pro_no},#{pro_name},#{bus_type},#{applicant_no},
                #{applicant},#{audit_date},#{audit_opinion},
                #{audit_state},#{audit_process} )
    </insert>
    <update id="updateCheckProcess">
        update check_progress set audit_date=#{audit_date},audit_opinion=#{audit_opinion},audit_state=#{audit_state},
                                  audit_process=#{audit_process}
        where id = #{id}
    </update>
    <select id="selectProcessingTask" resultType="com.example.pojo.CheckProcess">
        select * from check_progress
        where applicant_no = #{userNo} and audit_state = '1'
        order by audit_date desc



    </select>
</mapper>