<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间 必须对应接口的全限定名
-->

<mapper namespace="com.example.mapper.ContractMapper">


    <insert id="addContract">

        insert into contract(contract_no, contract_name, applicant_no, applicant, dept_name, dept_no, pro_no, pro_name)
        values (#{contract_no},#{contract_name},#{applicant_no},#{applicant},
                #{dept_name},#{dept_no},#{pro_no},#{pro_name})
    </insert>
    <update id="updateById">
        update contract set packageName=#{packageName},baoxqx=#{baoxqx},amount=#{amount},jiaohrq=#{jiaohrq},
                            jiaf=#{jiaf},yif=#{yif},bingf=#{bingf},tel_jiaf=#{tel_jiaf},
                            tel_yif=#{tel_yif},tel_bingf=#{tel_bingf},jbrq=#{jbrq}
        where id = #{id}



    </update>
    <select id="selectContractByCondition" resultType="com.example.pojo.Contract">
        select * from contract
        <where>
            <if test="pro_name!=null and pro_name!=''">
                and pro_name like #{pro_name}
            </if>
            and applicant_no = #{applicant_no}
        </where>
    </select>
</mapper>